parameters:
	ignoreErrors:
		-
			message: '#^Method Quillstack\\Dotenv\\Dotenv\:\:getKeyAndValue\(\) has parameter \$lineArray with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Dotenv.php

		-
			message: '#^Method Quillstack\\Dotenv\\Dotenv\:\:getKeyAndValue\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Dotenv.php

		-
			message: '#^Method Quillstack\\Dotenv\\Dotenv\:\:validateKey\(\) has parameter \$option with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Dotenv.php

		-
			message: '#^Parameter \#2 \$string of function explode expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Dotenv.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Dotenv.php

		-
			message: '#^Parameter \#1 \$haystack of function str_ends_with expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/ValueTypes.php

		-
			message: '#^Parameter \#1 \$haystack of function str_starts_with expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/ValueTypes.php

		-
			message: '#^Parameter \#1 \$haystack of function strstr expects string, float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/ValueTypes.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/ValueTypes.php

		-
			message: '#^Parameter \#1 \$string1 of function strcasecmp expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/ValueTypes.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#2 \$default \(string\|int\|float\|bool\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: src/env.helper.php

		-
			message: '#^Function env\(\) should return bool\|float\|int\|string but returns bool\|float\|int\|string\|null\.$#'
			identifier: return.type
			count: 1
			path: src/env.helper.php

		-
			message: '#^Function env\(\) should return bool\|float\|int\|string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/env.helper.php

		-
			message: '#^Function required\(\) should return bool\|float\|int\|string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/env.helper.php
